#!/bin/sh
# ~/.xprofile
#

# This is run when a display manager logs in.
# Used as source for ~/.xinitrc.

nm-applet & 	# Network Manager.
picom &			# Transparency and stuff.
dunst & 		# Notifications.
udiskie & 		# Drive mounting.
flameshot &		# Screenshots.
pasystray &		# Pulse Audio tray icon.
